@font-face {
    font-family: Trattatello;
    src: url('../../assets/Trattatello.ttf');
}

#mapLogo {
    position:absolute;
    top:13px;
    right:10px;
    width:84px;
    z-index:1;
    opacity:0.6;
}

#mapTitle, #mapCharleston {
    font-family: Trattatello;
    font-size: 28px;
    position:absolute;
    top:10px;
    right:95px;
    width:250px;
    text-align:center;
    z-index:1;
    opacity:0.8;
}

#hcf {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    position:absolute;
    text-align: center;    
    bottom:7px;
    left:85px;
    z-index:1;
    opacity:0.8;
}

#mapCharleston {
    top:36px;    
    font-size: 32px;
}

#mapDescription {
    position: absolute;
    top: 40px;
    left: 180px;
    width: 40%;
    z-index: 2;
}

@media (max-width: 400px) {
    #mapDescription {
        top: 40px;
        left: 40px;
        width: 80%;
    }
}