<div id="splash" (click)="hideAppMenu()">
    <table id="splashTable" cellPadding="0px">
        <tr>
            <td name="coscell" class="splashCell" style="padding-left: 15px;"><img width='200px' name="coslogo"/></td>
        </tr>        
        <tr>
            <td name="boston" class="cityCell" (click)="selectCity('boston');"></td>
        </tr>
        <tr>
            <td name="charleston" class="cityCell" (click)="selectCity('charleston');"></td>
        </tr>
        <tr>
            <td name="washingtondc" class="cityCell" (click)="selectCity('washingtondc');"></td>
        </tr>
        <tr>
            <td class="instagram" style="padding-top: 15px;"><img name="instalogo" style="vertical-align:middle;margin-left:40px;text-indent:20px;" width="40px" /><span name="instaNames1" style="position:relative;top:2px;"></span></td>
        </tr>
        <tr>
            <td class="instagram"><span name="instaNames2" style="position:relative;left:105px;"></span></td>
        </tr>
        <tr class="menuRow">
            <td id="copyright" style="text-align: center;"><span style="position:relative;top:40px;">© 2022 CamBuilt LLC</span></td>
        </tr>
    </table>
</div>    
<div id="google_map"></div>
<img src="assets/ellipsis-circle.svg" id="appMenuIcon" (click)="openAppMenu()"/>
<div id="typeSelector" hidden (click)="openTypeList()"></div>
<div id="typeList" hidden>
    <p class="typeOption" (click)="selectType(1)"><img src="assets/dining.svg" width="16px;"/>&nbsp;Restaurant</p>
    <p class="typeOption" (click)="selectType(2)"><img src="assets/shop.svg" width="18px;"/>&nbsp;Shopping</p>
    <p class="typeOption" (click)="selectType(3)"><img src="assets/hotel.svg" width="18px;"/>&nbsp;Hotel</p>
    <p class="typeOption" (click)="selectType(4)" style="margin-left:-5px;"><img src="assets/history.svg" width="24px;"/>&nbsp;History</p>
    <p class="typeOption" (click)="selectType(5)"><img src="assets/museum.svg" width="18px;"/>&nbsp;Museum</p>
    <p class="typeOption" (click)="selectType(6)"><img src="assets/theater.svg" width="18px;"/>&nbsp;Theatre</p>
    <p class="typeOption" (click)="selectType(7)"><img src="assets/fun.svg" width="16px;"/>&nbsp;Fun</p>
    <p class="typeOption" (click)="selectType(8)"><img src="assets/pharmacy.svg" width="16px;"/>&nbsp;Pharmacy</p>
    <p class="typeOption" (click)="selectType(9)"><img src="assets/beauty.svg" width="16px;"/>&nbsp;Beauty</p>
    <p class="typeOption" (click)="selectType(10)"><img src="assets/gym.svg" width="16px;"/>&nbsp;Gym</p>
</div>
<i class="fas fa-location-arrow panToUserLocation" (click)="panToUserLocation()"></i>
<img class="backButton" src="assets/back.svg" style="width:30px;" (click)="toggleLanding('on')"/>
<div id="hcf">Research made possible by<br/><u><a href="https://www.historiccharleston.org">The Historic Charleston Foundation</a></u></div>
<div id="alert"></div>
<div class="appMenu">
    <ul>
        <li class="appMenuItem" style="margin-left:-20px;width:375px;"><div class="row"><div class="col-auto typeSelected" (click)="toggleType($event)" data-typeid="1"><img src="assets/dining.svg" width="16px;"/> Restaurant</div><div class="col-auto typeUnselected" (click)="toggleType($event)" data-typeid="2"><img src="assets/shop.svg" width="18px;"/>Shop</div><div class="col-auto typeUnselected" (click)="toggleType($event)" data-typeid="3"><img src="assets/hotel.svg" width="18px;"/> Hotel</div><div class="col-auto typeUnselected" (click)="toggleType($event)" data-typeid="4"><img src="assets/history.svg" width="24px;"/>History</div></div></li>
        <li class="appMenuItem" style="margin-left:-20px;width:375px;"><div class="row"><div class="col-auto typeUnselected" (click)="toggleType($event)" data-typeid="5"><img src="assets/museum.svg" width="18px;"/> Museum</div><div class="col-auto typeUnselected" (click)="toggleType($event)" data-typeid="6"><img src="assets/theater.svg" width="18px;"/> Theater</div><div class="col-auto typeUnselected" (click)="toggleType($event)" data-typeid="7"><img src="assets/fun.svg" width="16px;"/> Fun</div><div class="col-auto typeUnselected" (click)="toggleType($event)" data-typeid="8"><img src="assets/pharmacy.svg" width="18px;"/>Pharmacy</div></div></li>
        <li class="appMenuItem" style="margin-left:-20px;width:380px;"><div class="row"><div class="col-auto typeUnselected" (click)="toggleType($event)" data-typeid="9"><img src="assets/beauty.svg" width="18px;"/> Beauty</div><div class="col-auto typeUnselected" (click)="toggleType($event)" data-typeid="10"><img src="assets/gym.svg" width="18px;"/> Gym</div><div class="col-auto typeUnselected" (click)="toggleType($event)" data-typeid="11"><img src="assets/parking.svg" width="10px;"/> Park</div><div class="col-auto typeUnselected" style="margin-left:-5px;"  (click)="toggleType($event)" data-typeid="12"><img src="assets/bank.svg" width="18px;"/> Bank</div><div class="col-auto typeUnselected" style="margin-left:-10px;" (click)="toggleType($event)" data-typeid="15"><img src="assets/building.svg" width="15px;"/> Bldgs</div></div></li>
        <li class="appMenuItem"><hr/></li>
        <li class="appMenuItem" style="font-size:14px;"><div class="row"><div class="col-4" (click)="showAbout()">About</div><div class="col-4" (click)="sendContactEmail()">Contact</div><div id="browseMode" class="col-4 typeUnselected" (click)="toggleBrowseMode()">Browse Mode</div></div></li>
        <li class="appMenuItem" style="font-size:14px;"><div class="row"><div class="col-4" (click)="goToMarketing()">Marketing</div><div class="col-4" (click)="logout()">Log Out</div><div class="col-4"></div></div></li>
    </ul>
    <div style="height:75px;"></div>
</div>
<div id="loading">Loading...</div>
<script>
    $('#splash').show();
</script>
<div id="about">
    <strong>About Change of Scenery</strong><img src="assets/close.svg" style="position:relative;right:-80px;top:0px;" (click)="closeAbout()" /><br/><br/>
    Change of Scenery (CoS) is a digital map that is designed for browsing downtown 
    main streets, emphasizing the places with store fronts and big signs right on the map.
    At CoS, we believe that it is the store front and the sign or logo that will most 
    immediately reveal what a place is about.<br/><br/>
    The map may look cluttered and messy until you zoom in, but that's because that's 
    what the real world looks like. If you see the corner of something that looks 
    interesting, you move in closer. Standard digital maps hide what's there <i>until</i>
    you move in closer. We believe this is a mistake.     
</div>
<div style="width:100%;text-align:center;padding-right:235px;">
    <firebase-ui (signInSuccessWithAuthResult)="successCallback($event)"
    (signInFailure)="errorCallback($event)"
    (uiShown)="uiShownCallback()"></firebase-ui>    
</div>
