@font-face {
    font-family: Trattatello;
    src: url('../../assets/Trattatello.ttf');
}

firebase-ui {
    background-color: #CFBF9E;
    position: fixed;
    top: 235px;
    width: 250px;
    height: 187px;    
}

.appTitle {
    display: none;
    display: none;
    position: fixed;
    bottom: 30px;
    right: 10px;
    opacity: 0.5;
}

#mapLogo {
    position:absolute;
    bottom:28px;
    left:24px;
    width:30px;
    z-index:1;
    opacity:0.8;
    cursor: pointer;
}

#loading {
    position:absolute;
    bottom: 45vh;
    left: 40vw;
    font-family: Futura, Arial, Helvetica, sans-serif;
    opacity: 0;
}

#loading.show {
    animation-duration: 0.5s;
    animation-name: showCityCell;
    opacity: 1;
}

#about {
    position:absolute;
    border-radius: 5px;
    width: 80vw;
    bottom: 20vh;
    left: 10vw;
    padding: 10px;
    font-family: Futura, Arial, Helvetica, sans-serif;
    background-color: #EFDFBF;
    opacity: 0;
}

#about.show {
    animation-duration: 1s;
    animation-name: showCityCell;
    opacity: 1;
}

.backButton {
    position:absolute;
    top:14px;
    left:14px;
    width:32px;
    z-index:1;
    opacity:0;
    cursor:pointer;
}

.backButton.show {
    animation-duration: 1s;
    animation-name: showBackButton;
    opacity: 1;
}

@keyframes showBackButton {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#mapTitle, #mapCharleston {
    font-family: Trattatello;
    font-size: 28px;
    position:absolute;
    top:-2px;
    right:125px;
    width:250px;
    text-align:center;
    z-index:1;
    opacity:0.8;
}

#mapCharleston {
    top:20px;    
    font-size: 32px;
}

.panToUserLocation {
    position:absolute;
    top:18px;
    right:18px;
    z-index:1;
}

#appMenuIcon {
    position:absolute;
    top:18px;
    right:72px;
    z-index:1;
    cursor: pointer;
}

#typeSelector {
    background-color: black;
    color: white;
    display: block;
    position:absolute;
    top:14px;
    width: 135px;
    height: 28px;
    margin-left: 35vw;
    padding-left: 17px;
    border-radius: 15px;
    z-index:1;
    cursor: pointer;
}

#typeList {
    display: none;
    background-color: white;
    color: black;
    display: block;
    position:absolute;
    top:50px;
    margin-left: 35vw;
    padding-left: 17px;
    z-index:1;
    opacity:0;
}

#typeList.open {
    animation-duration: 0.25s;
    animation-name: openTypeList;
    opacity: 1;
}

#typeList.close {
    animation-duration: 0.25s;
    animation-name: closeTypeList;
    opacity: 0;
}

.typeOption {
    background-color: white;
    height: 40px;
    margin: 0px;
    width: 115px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.walkingMan {
    width: 32px;
    position:absolute;
    top:18px;
    right:72px;
    z-index:1;
}

.appMenu {
    position:absolute;
    bottom: -330px;
    width: 100%;
    background-color: white;
    font-family: Futura, Arial, Helvetica, sans-serif;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.26);    
    display: none;
}

.appMenuItem {
    list-style-type: none;
    margin: 20px 25px 0 -10px;
    cursor: pointer;  
}

.appMenu.open {
    animation-duration: 0.25s;
    animation-name: openMenu;
    bottom: 0px;
}

.appMenu.close {
    animation-duration: 0.25s;
    animation-name: closeMenu;
    bottom: -330px;
    display: none;
}

@keyframes openMenu {
    0% {
        bottom: -330px;
    }
    100% {
        bottom: 0px;
    }
}

@keyframes closeMenu {
    0% {
        bottom: 0px;
    }
    100% {
        bottom: -330px;
        display: none;
    }
}

@keyframes openTypeList {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes closeTypeList {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#hcf {
    font-family: Futura, Arial, Helvetica, sans-serif;
    font-size: 10px;
    position:absolute;
    text-align: center;    
    bottom:35px;
    left:180px;
    z-index:1;
    opacity:0.8;
    display: none;
}

.typeSelected, .typeUnselected {
    color: black;
    font-size:15px;
}

.typeUnselected {
    filter: invert(60%);
}



